<div class="container">
  <h1 class="d-flex justify-content-center job_heading"> <%= t('.joblist') %> </h1>
  <table class="table table-bordered" id="job_table">
    <thead>
      <tr>
        <th><%= t('.banner') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.position') %></th>
        <th><%= t('.desc') %></th>
        <th><%= t('.count') %></th>
        <th><%= t('.applicantsemail') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= image_tag(job.banner_url.to_s, :size => "100x50") if job.banner?   %></td>
          <td><%= job.name%></td>
          <td><%= job.position %></td>
          <td><%= job.desc %></td>
          <td><%= job.count %></td>
          <td><%= job.job_applications.map(&:email) %></td>
          <td><%= link_to t('.show'), job , class:"btn show_btn" %></td>
          <td><%= link_to t('.edit'), edit_job_path(job),class:"btn edit_btn" %></td>
          <td><%= link_to t('.delete'), job, method: :delete, data: { confirm: 'Are you sure?' },class:"btn delete_btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  <%= link_to t('.newjob'), new_job_path , class: "btn job_btn" %>
  <%= paginate @jobs %>
</div>