<h1 class="my-4"><%= t('.jobdetails') %></h1>

<p>
  <strong><%= t('.name') %> : </strong>
  <%= @job.name %>
</p>

<p>
  <strong><%= t('.desc') %> : </strong>
  <%= @job.desc %>
</p>

<p>
  <strong><%= t('.position') %> : </strong>
  <%= @job.position %>
</p>

<p>
  <strong><%= t('.count') %> : </strong>
  <%= @job.count %>
</p>

<%= link_to t('.edit'), edit_job_path(@job) , class: "btn edit_btn" %> 
<%= link_to t('.back'), jobs_path, class: "btn btn-primary" %>
<%= link_to t('.delete'), @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn delete_btn" %>
