<nav class="navbar navbar-expand-sm sticky-top mb-3 d-flex justify-content-between">
  <a class="navbar-brand" href="#"><%= t('global.menu.jobportal') %></a>
  <ul class="navbar-nav">
    
    <% if user_signed_in? %>
      <% if current_user.role == 'jobseeker' %>
        <li class="nav-item ">
            <%= link_to t('global.menu.home'), jobseeker_path , class:'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to t('global.menu.logout'),  destroy_user_session_path,method: :delete , class:'nav-link' %>
        </li>
      <% elsif current_user.role == 'recruiters' %>
        <li class="nav-item ">
            <%= link_to t('global.menu.home'), jobs_path , class:'nav-link' %>
        </li>
        <li class="nav-item ">
          <%= link_to t('global.menu.applicants'), job_applications_path , class:'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to t('global.menu.logout'),  destroy_user_session_path,method: :delete , class:'nav-link' %>
        </li>
      <% end %>
    <% else %>
      <li class="nav-item">
        <%= link_to t('global.menu.login'),  new_user_session_path , class:'nav-link' %>
      </li>
      
      <li class="nav-item">
        <%= link_to t('global.menu.signup'),  new_user_registration_path , class:'nav-link' %>
      </li>
      
      
    <% end %>
  </ul>
</nav>